  <div class="row">
    <div class="container">
      <div class="col-md-4 "><a href="#/home"><img class="img-responsive title-logo" src="images/image_logo.png"></a> <h1 class="text-thin ">Asmita Dutta</h1></div>
      <div class="col-lg-8 " >
        <nav  id="menu" class="menu" ng-click="classcall()">
          <ul class="nav navbar-nav ">

            <li ><a href="#/">Home</a></li>
            <li class="active"><a href="#/about">About</a></li>

          </ul>
          <a id="bar"  class="nav_toggle">
            <span class="bar bar_top"></span>
            <span class="bar bar_med"></span>
            <span class="bar bar_bottom"></span>
          </a>
        </nav>

      </div>

    </div>
  </div>
  <div class="container line">
  </div>
  <div class="container">
    <h1>About Me</h1>
    <p class="text-justify">Technology has always been a passion of mine, which inspired me to take up Computer Science for my undergraduate studies. During my studies at Kurukshetra University I started exploring various aspects of computer science. The area which interested me most was front end development. I learnt basics of HTML, CSS and JavaScript and started developing my own websites. This helped me get a full time position at OpenFirms consulting. My main responsibility was to develop client's website using HTML, CSS, JS and CMS like Joomla and Magento. I also learnt some backend programming using PHP.</p>

    <p class="text-justify"> My short stint with PHP at OpenFirms left me wanting to learn more about backend programming. With goal of learning backend programming, I joined University of California, Santa Cruz, Silicon Valley Extension. I took various courses to hone my backend skills in Java and Python. I also took few courses in Android programming and have developed a full fledged app "Hyper Garage Sale". In order to apply what I learn at UCSCx, I joined moBack Inc. as Software Developer Intern. I have worked on various projects at moBack exploring full stack of web development.</p>

    <p class="text-justify">Working on the projects at moBack Inc. and OpenFirms I have realized that the function of an engineer is to explore and understand the constantly changing aspects of technology and requirements of customers. And to learn to design and develop complex subsystems when necessary, but at the same time keep the solution simple and intuitive to the end user/customer.  My internal sense of exploring and tinkering is perfect for the fast pace of the software world. I am always ready to learn new things while being able to apply what I know to the new.  I love going to work and taking on any challenge that may come.</p>
  </div>

  <div class="container">
    <h1 id ="workEx">Work Experience</h1>
    <ul>
      <li>
        <h3>moBack, Inc., Sunnyvale, CA, USA</h3>
        <p>Software Developer Intern (January 2016 – Present)</p>
        <ul>
          <li class="list-font-size">
            Design and develop full stack web applications based on MVC design pattern using HTML5, CSS3, JavaScript.
          </li>

          <li class="list-font-size">Write APIs in NodeJS for different web applications.
          </li>

          <li class="list-font-size">Creating multiple page applications using AngularJS on Yeoman framework.
          </li>
          <li class="list-font-size">Designed and developed a video library using MEAN stack.
          </li>
          <li class="list-font-size">Designed and developed a consolidation page for listing all the games created by moBack Inc
          </li>
          </ul>
      </li>
      <li>
        <h3>Open Firm Consulting, India</h3>
        <p>Software Engineer (August 2013 – March 2015)</p>
        <ul>
          <li class="list-font-size">Create responsive templates using HTML,CSS and JavaScript.</li>

          <li class="list-font-size">Website development using Core PHP and CMS like - Magento, Joomla.</li>

          <li class="list-font-size">Client’s website management and maintenance.</li>

          <li class="list-font-size">Interacting with clients to make dynamic modifications as per the requirement.</li>
    </ul>
      </li>
    </ul>
  </div>
  <div class="container">

    <h1 id="education">Education</h1>

      <ul>
      <li>
        <h3>University of California, Santa Cruz, Silicon Valley Extension, Santa Clara, CA, USA</h3>
        <p class="text-justify">Computer Programming Certificate  <i>--June 2016.</i>

        </p>
      </li>
        <li>

            <h3>Udacity</h3>
          <p class="text-justify">

             Full Stack Web Developer NanoDegree  <i>--June 2016</i>

          </p>
        </li>
        <li>

           <h3>Kurukshetra University, Kurukshetra, India </h3>
          <p class="text-justify">Bachelor of Technology in Computer Science <i>--July 2013</i>


          </p>
        </li>
      </ul>
    <ul>
      <h3>Courses:</h3>
      <ul>
        <li class="list-font-size"> Java Programming, Comprehensive</li>
        <li class="list-font-size"> Java EE Applications with Spring Framework and Hibernate </li>
        <li class="list-font-size"> Python Comprehensive</li>
        <li class="list-font-size"> XML essentials</li>
        <li class="list-font-size"> JavaScript Comprehensive and AJAX</li>
        <li class="list-font-size"> MySQL Database for Developers and Designers</li>
        <li class="list-font-size"> Object Oriented Analysis and Design</li>
        <li class="list-font-size"> Cloud Computing</li>
        <li class="list-font-size"> Developing Applications for Android Devices</li>
        <li class="list-font-size"> Developing Applications for Android Devices, Advanced</li>
      </ul>

      <h3>Academic projects</h3>
      <ul>

        <li><h4>Battle City Tank (Python)</h4>
          <p class="list-font-size" >A pygame based tank game where player shoots enemy tank using mouse and keyboard. Difficulty level increases as the levels changes.</p>
        </li>
        <li><h4>Garage Sale (Android)</h4>
          <p class="list-font-size">An complete android app for garage sale with recycle view, bitmaps,background scaling, location tagging.</p>
        </li>
        <li><h4>GoTicket (JAVA EE with Spring framework and Hibernate)</h4>
          <p class="list-font-size">A movie ticket service API with features to book and search movies by title and theater.</p>
        </li>
        <li><h4>MTDB (Python, HTML, CSS) </h4>	<p> A movie trailer database for watching and reviewing movie trailers.</p>
        </li>
        <li><h4>Marathon (JAVA)</h4>
          <p class="list-font-size">A java muti-threaded application to simulate marathon run with runners of different speed and stamina.</p>
        </li>
        <li><h4>Movie Database (JAVA, DERBY, XML)</h4><p>A movie database which lists details of movies by year, artists etc. The database was read by multiple threads and sorted accordingly.</p>
        </li>
        <li><h4>Web Journal (PHP, HTML, CSS)</h4><p>A web application for reading, sharing, uploading books and journals.</p>
        </li>
        <li><h4>Mortgage Assistant (HTML, JAVASCRIPT, CSS, AJAX)</h4>
          <p class="list-font-size">A web application to assist users in finding and calculating mortgages.</p>
        </li>
      </ul>
    </ul>
  </div>


